@model User 
@{
    ViewBag.Title = "Login";
}
<h2>Login Example</h2>
@using (Html.BeginForm("Login","Account",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model=>model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}
